<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Roogle Search - @ViewData["Title"]</title>
  <meta name="description" content="Roogle search engine">

  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  @RenderBody()
</body>
</html>
